backports.entry-points-selectable==1.1.0
certifi==2021.5.30
charset-normalizer==2.0.4
distlib==0.3.2
filelock==3.0.12
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
platformdirs==2.3.0
requests==2.26.0
selenium==3.141.0
typing-extensions==3.10.0.2
urllib3==1.26.6
zipp==3.5.0
